<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NoSQL-DynamoDB</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="app/app.js"></script>
</head>
<body>
<div class="container" data-ng-app="nosql" data-ng-controller="main as vm">
  <div class="jumbotron">
    <h1>NoSQL-DynamoDB</h1>
    <hr/>
    <div id="query">
      <h4>Select a query:</h4>
      <label>
        <select class="form-control" data-ng-model="form.id">
          <option data-ng-repeat="query in queryEnum" data-ng-value="{{query.id}}">{{query.description}}</option>
        </select>
      </label>
      <div>
        <label data-ng-show="queryEnum[form.id].paramRequired">
          {{queryEnum[form.id].paramInputText}}
          <input type="text" class="form-control" data-ng-model="form.paramValue">
        </label>
      </div>
      <button class="btn btn-default" data-ng-click="submit(form)">Query</button>
    </div>
  </div>

  <div id="results" class="container" data-ng-show="results">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th>#</th>
        <th>Timestamp</th>
        <th>Device ID</th>
        <th>Malware</th>
        <th>Company</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="item in results">
        <td>{{$index}}</td>
        <td>{{item.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
        <td>{{item.device_id}}</td>
        <td>{{item.company}}</td>
        <td>{{item.malware}}</td>
        <td>{{item.action}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>